<%- include('../partials/header') %>

<div class="card mt-3">
  <div class="card-header">
    <div class="card-title">
      <h2>Add Country</h2>
    </div>
  </div>
  <div class="card-body">
    <form action="/countries/add" method="post">
      <div class="row mx-0 mt-3">
        <div class="col-4">
          <label for="txtSortCode">Sort Code</label>
        </div>
        <div class="col-8">
          <input
            name="sort_code"
            type="text"
            id="txtSortCode"
            class="form-control"
          />
        </div>
      </div>
      <div class="row mx-0 mt-3">
        <div class="col-4">
          <label for="txtname">Name</label>
        </div>
        <div class="col-8">
          <input name="name" type="text" id="txtname" class="form-control" />
        </div>
      </div>
      <div class="row mx-0 mt-3">
        <div class="col-12">
          <input type="submit" value="Add" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>
