</main>
<!--end #content-->

<!--*********************************************************************************************************-->
<!--************ FOOTER *************************************************************************************-->
<!--*********************************************************************************************************-->
<footer id="ts-footer" class="mt-5">

    <section id="contact" class="ts-block ts-separate-bg-element" data-bg-image="assets/img/bg-man-wall.jpg" data-bg-image-opacity=".1">
        <div class="container">
            <div class="ts-title text-center">
                <h2 class="ts-bubble-border">Get In Touch</h2>
            </div>
            <div class="row ts-xs-text-center ">
                <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp">
                    <img src="assets/img/icon-pin.png" class="mb-4" alt="">
                    <h5>Address</h5>
                    <div class="ts-opacity__50" id="address">
                        <figure class="mb-0" >999 Carter Street</figure>
                        <figure>Sailor Springs, IL 62434</figure>
                    </div>
                    <!--end ts-opacity__50-->
                </div>
                <!--end col-md-3-->
                <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".1s">
                    <img src="assets/img/icon-phone-02.png" class="mb-4" alt="">
                    <h5>Phone</h5>
                    <div class="ts-opacity__50" id="phone">
                        <figure class="mb-0">+1 618-689-9409</figure>
                        <figure>+1 781-254-8437</figure>
                    </div>
                    <!--end ts-opacity__50-->
                </div>
                <!--end col-md-3-->
                <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".2s">
                    <img src="assets/img/icon-envelope.png" class="mb-4" alt="">
                    <h5>Email</h5>
                    <div class="ts-opacity__50" id="email">
                        <figure class="mb-0">hello@example.com</figure>
                        <figure>support@example.com</figure>
                    </div>
                    <!--end ts-opacity__50-->
                </div>
                <!--end col-md-3-->
                <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".3s">
                    <img src="assets/img/icon-talk-bubble.png" class="mb-4" alt="">
                    <h5>Facebook Chat</h5>
                    <div class="ts-opacity__50">
                        <figure id="facebook">me.freelancer3</figure>
                    </div>
                    <!--end ts-opacity__50-->
                </div>
                <!--end col-md-3-->
            </div>
            <!--end row-->

            <div class="pt-5">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Let’s Connect</h3>
                        <div class="ts-column-count-sm-2">
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                            <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                                <span>Facebook</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                            <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                <i class="fab fa-twitter"></i>
                            </span>
                                <span>Twitter</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                            <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                <i class="fab fa-instagram"></i>
                            </span>
                                <span>Instagram</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                            <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                <i class="fab fa-pinterest-p"></i>
                            </span>
                                <span>Pinterest</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                            <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                <i class="fab fa-skype"></i>
                            </span>
                                <span>Skype</span>
                            </a>
                            <!--end link-->
                        </div>
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-8">
                        <h3>Send Me a Message</h3>
                        <form id="form-contact" method="post" class="clearfix ts-form ts-form-email" data-php-path="assets/php/email.html">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-name">Name *</label>
                                        <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Name" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-email">Email *</label>
                                        <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Email" required>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                            </div>
                            <!--end row -->
                            <div class="form-group">
                                <label for="form-contact-subject">Subject *</label>
                                <input type="email" class="form-control" id="form-contact-subject" name="subject" placeholder="Subject" required>
                            </div>
                            <!--end form-group -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form-contact-message">Message *</label>
                                        <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Message" required></textarea>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-12 -->
                            </div>
                            <!--end row -->
                            <div class="form-group clearfix">
                                <button type="submit" class="btn btn-primary float-right ts-btn-arrow" id="form-contact-submit">Send a Message</button>
                            </div>
                            <!--end form-group -->
                            <div class="form-contact-status"></div>
                        </form>
                        <!--end form-contact -->
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end #contact-->

    <div class="text-dark bg-white">
        <div class="container py-3 position-relative">
            <small>© 2018 ThemeStarz, All Rights Reserved</small>
            <a href="#page-top" class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
                <i class="fa fa-arrow-up text-white"></i>
            </a>
        </div>
    </div>

</footer>
<!--end #footer-->

</div>
<!--end page-->

<!-- Modal -->
<div class="modal fade text-dark" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content border-0 rounded-0">
        <div class="modal-header bg-light px-5 pt-0 pb-5">
            <div class="ts-title mb-0">
                <figure class="ts-circle__md bg-dark rounded-0">
                    <img src="assets/img/icon-brushes.png" alt="">
                </figure>
                <h4 class="mb-0">Web Design</h4>
            </div>

            <button type="button" class="close position-absolute ts-top__0 ts-right__0 m-2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
            </button>
        </div>
        <div class="modal-body p-5">
            <h5 class="mb-4">Latest Works</h5>
            <div class="owl-carousel" data-owl-dots="1">
                <div class="slide">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/img-work-detail-01.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <h4 class="mb-3">Creative Lights</h4>
                                <p>
                                    In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien faucibus
                                    fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est
                                    ultricies.
                                </p>
                                <a href="#" class="mb-4 text-dark d-block">
                                    <i class="fa fa-globe ts-opacity__50 mr-2"></i>
                                    www.example.com
                                </a>
                                <hr>
                                <h6>Services Included</h6>
                                <ul class="list-unstyled ts-opacity__50">
                                    <li>Design</li>
                                    <li>Coding</li>
                                    <li>SEO Optimization</li>
                                    <li>Hosting</li>
                                </ul>
                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-fluid-->
                </div>
                <!--end slide-->
                <div class="slide">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/img-work-detail-02.jpg" alt="">
                            </div>
                            <div class="col-md-8">
                                <h4 class="mb-3">Wood Ceiling</h4>
                                <p>
                                    Phasellus volutpat velit nec purus elementum feugiat. Nunc feugiat fringilla turpis.
                                    Nam sed facilisis sem. Vestibulum vitae orci nec purus fringilla condimentum.
                                    Pellentesque id augue rhoncus, finibus sapien ut, commodo eros. Maecenas in nibh
                                    augue. Nunc rutrum blandit massa eu aliquet. Nulla facilisi. Aenean luctus ipsum
                                    in orci sagittis auctor vel sit amet ex
                                </p>
                                <a href="#" class="mb-4 text-dark d-block">
                                    <i class="fa fa-globe ts-opacity__50 mr-2"></i>
                                    www.example.com
                                </a>
                                <hr>
                                <h6>Services Included</h6>
                                <ul class="list-unstyled ts-opacity__50">
                                    <li>Design</li>
                                    <li>Coding</li>
                                    <li>SEO Optimization</li>
                                    <li>Hosting</li>
                                </ul>
                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-fluid-->
                </div>
                <!--end slide-->
            </div>
            <!--end owl-carousel-->
        </div>
        <!--end modal-body-->
    </div>
    <!--end modal-content-->
</div>
<!--end modal-dialog-->
</div>
<!--end modal-->

<script src="assets/js/custom.hero.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isInViewport.jquery.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/scrolla.jquery.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src="/bundles/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>

<!-- Mirrored from www.themestarz.net/html/selfer/?storefront=envato-elements by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 May 2024 08:34:20 GMT -->
</html>
