</main>
<footer class="position-fixed bottom-0 py-3 w-100">
    <div class="row mx-0">
        <div class="col-3 offset-9">
            <h4>Codelandia MERN Team</h4>
        </div>
    </div>
</footer>
</div>
</body>
</html>